body {
    margin: 0;
    padding: 0;
}
.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}
.main {
    width: 328px;
    min-height: 509px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.widget-conatiner {
    /* width: 328px;
    min-height: 509px; */
    background-color: #FCE49B;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* padding: 8px 10px; */
    border-radius: 24px;
    overflow: hidden;
}
.header-container {
    /* width: 100%; */
    height: 180px;
    position: relative;
    margin: 8px 10px 0 10px;
}
.header-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    object-fit: cover;
}
.header-container .title {
    width: 100%;
    /* height: 56px; */
    position: absolute;
    bottom: 0;
    background-color: #fff;
    padding: 19px 0 12px 0;
    border-radius: 4px 4px 0 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    text-align: center;
}


/*content */

.content-container {
    min-height: calc(509px - 180px - 8px);
    background-color: #fff;
    overflow: hidden;
    /* padding: 4px 20px; */
}
.redirects {
    margin: 0px 10px 0 10px;
    /* width: 100%; */
    height: 100%;
    background-color: #fff;
    padding: 4px 10px;
}
.redirect-elems {
    /* height: 48px;
    width: 100%; */
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.redirect-elems img {
    margin-right: 8px;
    width: 32px;
    height: 32px;
}
.redirect-elems p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #616161;
    margin: 0;
}
.close-widget {
    margin-top: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCE49B;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
